.chat {
  width: 100%;
  height: calc(100vh - 57px);
  background-color: #3282b8;
  padding: 20px;
}

.wrapper-chat {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.wrapper-chat .content {
  flex: 14;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  overflow: auto;
}

#content-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper-chat .inputs {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b262c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inputs input {
  width: 80%;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  padding-left: 10px;
  height: 25px;
  background-color: #f7f7f7;
}

.inputs button:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25px;
  background-color: #3282b8;
  border: none;
  width: 50px;
  cursor: pointer;
}

.message-wrapper {
  width: 60%;
  min-width: 50vw;
  background-color: #bbe1fa;
  border: 0.3px solid #3333;
  padding: 10px;
  border-radius: 10px;
}

.message-content {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
}

.position-message {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.decoration-message {
  width: 0;
  height: 0;
  margin-top: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 20px solid #bbe1fa;
  transform: rotate(90deg);
}
