.navbar {
  width: 100%;
  color: #3282b8;
  background-color: #1b262c;
  padding: 18px 25px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
}

.logo-nav {
  display: flex;
  align-items: center;
}

.logo-nav span {
  margin-left: 5px;
}
